.game {
	position: relative;
	text-align: center;
}
.table {
	display: table;
	margin: 0 auto;
	position: relative;
}
.box {
	width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;

	text-transform: uppercase;
	font-weight: bold;
	color: #333;
	border: 1px solid #333;
	border-radius: 5%;
	background-color: #369;
	margin: 3px;
	cursor: pointer;
	box-shadow: 3px 4px 1px 2px rgba(1, 1, 1, 0.1);
	user-select: none;
}
.winner {
	background-color: #5d835f;
}
